# Core dependencies
-e .[all]

# Code formatting and linting
black==22.8.0
isort
flake8
mypy

# Type hints
types-PyYAML
types-decorator
types-python-dateutil
types-requests
types-setuptools

# Machine Learning & Model Serving
torchserve

# Azure-specific dependencies
azureml-sdk
azure-storage-blob
dvc[azure]

